{% extends "main.html" %}
{% load static%}

{% block content%}

<div class="row justify-content-center pt-4">
    <h1 class="text-center pb-4">{{title}}</h1>
    <div class="col-6 border border-white border-4">
        <div class="row">
            <div class="col-auto p-2">
                 <img src='media\moi-4fondblanc640-612.jpg' alt="" height="150" width="150"/>
            </div>
            <div class="col d-flex align-items-center justify-content-center"> 
                <div>
                    <h1 class="text-center">Philippe MAURY</h1>
                    <h3 class="text-center">Développeur d'application - Python</h3>
                </div>
            </div>
            <p class="alinea mt-2">
                Ce site présente les projets réalisés pour me former au métier de
                <B>développeur d'application Python backend</B> en suivant le
                parcours proposé par <a class="" href="{{url_oc}}">Openclassrooms</a>.
            </p>
            <p class="alinea"> Il présente également des projets personnels, développés pour
                pratiquer les notions étudiées, ou en découvrir de nouvelles.</p>
            
            <div class="d-flex justify-content-end" >
                <a class="btn btn-outline-dark me-2 my-2" href="{% url 'apps' category='web' %}">Applications Web</a>
                <a class="btn btn-outline-dark me-2 my-2" href="{% url 'apps' category='other' %}">Autres Applications</a>
           </div>
           
        </div>
        
        
    </div>
</div>
{% endblock %}
